<table class="tabla">
    <thead>
      <tr>
        <th>id</th>
        <th>fecha</th>
        <th>hora</th>
        <th>capacidad</th>
        <th>plazasDisponibles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activity">
        <td>{{ activity.id }}</td>
        <td>{{ activity.fecha }}</td>
        <td>{{ activity.hora }}</td>
        <td>{{ activity.capacidad }}</td>
        <td>{{ activity.plazasDisponiles }}</td>
        <td>
          <button (click)="apuntarse(activity.id)">apuntarse</button>
        </td>
        <td>
          <button (click)="desapuntarse(activity.id)">desapuntarse</button>
        </td>
        <td>
          <button (click)="deleteActivity(activity.id)">eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
